/* colour sheme: https://www.schemecolor.com/cambridge-shades.php */


/* ############################################################ */
/* base styling */
body {
    font-family: 'Karla', sans-serif;
    background-color: #F9FFFC;
    color: #6B9080; 

}

button {
    border-radius: 15px;
    border-color: none;
    border-style: none;
    color: #F9FFFC;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Karla', sans-serif;
    background-color: #6B9080;
}

li {
    list-style: none;

}

/* ############################################################ */
/* homepage */
#homepage-img {
    background-image: url('/static/unsplash-book.jpg');
    
}

#homepage-container {
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 0 0 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;

}


.homepage-text {
    align-items: center;
    text-align: center;
    justify-content: center;
    
}


/* ############################################################ */
/* navbar */
#nav-div {
    text-decoration: none;
    width: 100vw;
    height: auto;
    background-color: #6B9080;
    color: #F9FFFC;

}

#nav-options {
    padding: 0, 0, 0, 0;
    margin-bottom: 0;
    display: flex;
    padding: 20px;
}

#navbar:hover {
    background-color: #A4C3B2;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration-color: inherit;

}


/* ############################################################ */
/* footer */
#footer-links {
    display: flex;
    justify-content: center;
}

#footer {
    margin-bottom: none;
    margin-top: none;
    padding: 0, 0, 0, 0;
    background-color: #E4F4EE;
}


