/* colour sheme: https://www.schemecolor.com/cambridge-shades.php */

title {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F9FFFC;
}

/* display for returned recommendation formatting */
#book-image {
    position: relative;
    float: left;
}

div {
    padding: 10px;

}

.form-control {
    font-family: 'Raleway', sans-serif;
}

/* button/instruction formatting */
.instructions {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

button {
    font-family: 'Raleway', sans-serif;
}

/* navbar formatting */
li {
    list-style-type: none;
    margin: 0 2vw;
    /* vh = viewport height, like width */
    font-size: 3vh;
}

ul {
    /* default - flex-direction: row */
    display: flex;
}

#navbar {
    text-decoration: none;
    /* vw = viewport width */
    width: 100vw;
    padding: 20px;
    background-color: #6B9080;
}

#navbar:hover {
    background-color: #E4F4EE;
}

a {
    /* background-color: */
    color: black;
}

a:hover {
    color: #6B9080;
}



