/* colour sheme: https://www.schemecolor.com/cambridge-shades.php */

title {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Karla', sans-serif;
    color: 6B9080;
}

h2 {
    font-family: 'Karla', sans-serif;
    color: #6B9080;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #F9FFFC;
    
}

/* display for returned recommendation formatting */
#book-image {
    position: relative;
    float: left;
}

#title-author {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

div {
    padding: 10px;

}

.form-control {
    font-family: 'Karla', sans-serif;
    color: #6B9080;
}

/* button/instruction formatting */
.instructions {
    font-family: 'Karla', sans-serif;
    display: inline-block;
    
}

button {
    font-family: 'Karla', sans-serif;
    background-color: #CBE3DB;
}

/* navbar formatting */
li {
    list-style-type: none;
    margin: 0 2vw;
    /* vh = viewport height, like width */
    font-size: 3vh;
}

ul {
    /* default - flex-direction: row */
    display: flex;
}

#navbar {
    text-decoration: none;
    /* vw = viewport width */
    width: 100vw;
    padding: 20px;
    background-color: #6B9080;
    color: #F9FFFC;

}

#navbar:hover {
    background-color: #A4C3B2;
}


.navlink:hover {
    color: #F9FFFC;
    text-decoration-color: #6B9080;
}

.homepage {
    color: #6B9080;
    text-decoration-color: #6B9080;
}

.navlink {
    text-decoration: none;
    color: #F9FFFC;

}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration-color: #6B9080;

}






