<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <title>{% block title %}Bookbot{% endblock %}</title>
    
    <link rel="stylesheet" href="/static/style.css">
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

  </body>
</html>