{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>View all of Bookbot's recent recommendations</h2>

            <!-- display 3 books per row -->
            <div class="response books">
            <!-- loops through recommendation_responses_in_db --> 
                
                {% for book in rec_responses_in_db %} 
                
                <div class="book"><i class="fas fa-book"></i> <em>{{ book }}</em> by {{ rec_responses_in_db[book] }}</div>
                {% endfor %}
            <!-- 'user' received a recommendation for 'book' by 'author' from Bookbot -->

            </div>
            

        </div>
    </div>
</div>
{% endblock %}