{% extends 'base.html' %}

{% block head %}
<script 
    async defer
    src='https://www.googleapis.com/books/v1/volumes?q=callback=initRec'>
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Hi {{ username.title() }}! Bookbot has generated your recommendation below.</h2>
            <p>Here is what you're looking for: A book from the <em><b>{{ genre.title() }}</b></em> genre, with the keyword <em><b>"{{ keyword }}."</b></em></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="img-and-title">
            <div id="book-image">
                <img src = {{ image_url }}>
            </div>

            <div id="title-author">
                <h3>{{ book_title }}</h3>
                <h4>{{ book_author }}</h4>
            </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
           
            <div id="book-recommendation">
    
                <div id="book-info">
                    <p><b><em>Description:</em></b> {{ description }}</p>
                    <p><b><em>Genre:</em></b> {{ book_genre }}</p>
                    <p><b><em>Page count:</em></b> {{ page_count }}</p>
                    <p><b><em>Average rating:</em></b> {{ average_rating }}</p>
                    <p><em>{{ maturity_rating }}</em></p>
                </div>
                
            </div>
            
            <div id="return_home" class="instructions">
                <button id="resubmit-button" type="submit"><i class="fas fa-book-open"></i> Request another book</button>

            </div>

        </div>
    
    </div>
    
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/bookbot.js"></script>
{% endblock %}