{% extends 'base.html' %}

{% block head %}
<script 
    async defer
    src='https://www.googleapis.com/books/v1/volumes?q=callback=initRec'>
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Hi {{ username.title() }}! Bookbot has generated your recommendation below.</h2>
            <p>Here is what you're looking for:</p>
            <p>Your requested genre is {{ genre.title() }}.</p>
            <p>You would like a book with the keyword "{{ keyword }}".</p>

            <h2>Bookbot recommends:</h2>
            <div id="book-recommendation">
                <img src = {{ image_url }}>
                <h3>{{ book_title }}</h3>
                <h4>{{ book_author }}</h4>
                <p>Description: {{ description }}</p>
                <p>Genre(s): {{ book_genre }}</p>
                <p>Page count: {{ page_count }}</p>
                <p>Average rating: {{ average_rating }}</p>
                <p>{{ maturity_rating }}</p>
            </div>
            
            <div id="return_home" class="instructions">
                <button id="resubmit-button" type="submit">Submit another</button>

            </div>

        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/bookbot.js"></script>
{% endblock %}